<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <% unless current_user.github_token %>
    <section class="oauth-login">
      <%= link_to "Connect to Github", "/auth/github", class: "btn btn-primary mb1 bg-teal" %>
    </section>
  <% end %>
  <section class="bookmarks">
    <h1>Bookmarked Segments</h1>
    <ul>
    <% current_user.bookmarked_videos.each do |video| %>
      <li><%= video.title %></li>
    <% end %>
    </ul>
  </section>
  <% if current_user.github_token %>
    <section class="github">
      <h2>Your Github Repositories</h2>
      <ul>
        <% github_facade.repos.each do |repo| %>
        <li><%=link_to repo.name, repo.url %></li>
        <% end %>
      </ul>
    </section>
    <section class="friends">
      <h2>Your Friends</h2>
      <ul>
        <% friends_facade.friends.each do |friend| %>
          <li><%= friend.first_name %> <%= friend.last_name %></li>
        <% end %>
      </ul>
    </section>
    <section class="followers">
      <h2>Your Followers</h2>
      <ul>
        <% github_facade.followers.each do |follower| %>
        <li>
          <%= link_to follower.handle, follower.profile_url %>
          <% if follower.local_user && !friends_facade.friends.include?(follower.local_user) %>
            <%= button_to "Add as Friend",
                          users_friendships_path,
                          method: :post,
                          params: {friend_id: follower.github_id},
                          class: "btn btn-primary mb1 bg-teal" %>
          <% end %>
        </li>
        <% end %>
      </ul>
    </section>
    <section class="following">
      <h2>You're Following</h2>
      <ul>
        <% github_facade.following.each do |user| %>
        <li>
          <%= link_to user.handle, user.profile_url %>
          <% if user.local_user && !friends_facade.friends.include?(user.local_user) %>
            <%= button_to "Add as Friend",
                          users_friendships_path,
                          method: :post,
                          params: {friend_id: user.github_id},
                          class: "btn btn-primary mb1 bg-teal" %>
          <% end %>
        </li>
        <% end %>
      </ul>
    </section>
  <% end %>
</section>
